:root {
  --white: #fff;
  --black: #000;
  --green_l: #55FF55;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  overflow: hidden;
}

header {
  height: 100vh;
}

body {
  height: 100vh;
  background: var(--black);
  color: var(--green_l);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}