.marquee-text {
  width: 100vw;
  overflow: hidden;
}

.marquee-track {
  display: flex;
  padding-left: 0.8rem;
  gap: 0.8rem;
  width: max-content;
  animation: runText var(--speed, 20s) linear infinite reverse;
}

.marquee-text p {
  font-family: "Stick No Bills", serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 100%;
}

@keyframes runText {
  to {
    transform: translateX(-50%);
  }
}
